html {
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    color: rgb(165, 14, 120);
  }
  body {
    margin: 0;
    background-color: black;
  }
  * {
    font-family: 'Akaya Telivigala', cursive;
}

  
  .wrapper {
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
  }
  
  .content {
      display: block;
      text-align: center;
      margin: -70px 0 0 0;
  }
  
  h1 {
      margin: 0 0 10px 0;
      font-size: 35px;
      font-weight: normal;
      color: rgb(114, 4, 4);
      letter-spacing: 5px;
      transform: scaleY(1.5);
  }
  
  #area {
      width: 300px;
      height: 300px;
      /* box-sizing: border-box; */
      display: flex;
      flex-wrap: wrap;
      border: 1px solid black;	
  }
  
  .box {
      width: 100px;
      height: 100px;
      background-color: pink;
      border: 1px solid black;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
  }
  
  .score {
      font-size: 30px;
      font-weight: bold;
      margin: 0 0 14px 0;
  }
  #victories {
      color: rgb(116, 7, 116);
  
  }
  #defeats {
      color: orange;
  }
  
  #overlay {
      display: none;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: #ccc;
      opacity: 0.5;
      z-index: 1000; 
  }
  
.footer {
    height: 10px;
    padding: 50px 0;
    width: 100%;
    flex-shrink: 0;
    background-color: rgb(114, 4, 4);
  }
  
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 50px;
  }
  
  .footer__container a {
    line-height: 50px;
  }
  
  .footer-data__year {
    padding: 0 20px;
    color: black;
  }

  footer img {
    height: 30px;
    margin: 0 50px;
}
  

